// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;


// colors
$light-grey-1: #d0d0d0;
$primary-color: #F97350;
$yellow: #FAD06C;
$light-beige: #F7F2E5;
$medium-gray: #B7AC9A;