.section {
	position: relative;
	height: 100vh;
}

.section .section-center {
	position: absolute;
	top: 50%;
	left: 0;
	right: 0;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
}

.background {
	background-image: url("https://images.unsplash.com/photo-1600508774634-4e11d34730e2?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80");
	object-fit: cover;
	background-size: cover;
	background-position: center;
}



.booking-form {
	background-color: rgba(244, 244, 244, 0.867);
	padding: 35px 20px;
	-webkit-box-shadow: 0px 5px 5px rgba(black,.3);
	box-shadow: 0px 5px 5px  rgba(black,.3);
	border-radius: 4px;
}

.booking-form .form-group {
	position: relative;
	margin-bottom: 30px;
	text-align: center;
}

.booking-form .form-control {
	border-radius: 4px;
	border: none;
	height: 40px;
	-webkit-box-shadow: none;
	box-shadow: none;
	color: $gray;
	font-size: 14px;


	&:focus {
		border: 2px solid $primary-color;
	}
}

.booking-form .form-control::-webkit-input-placeholder {
	color: $gray;
}

.booking-form .form-control:-ms-input-placeholder {
	color: $gray;
}

.booking-form .form-control::placeholder {
	color: $gray;
}

.booking-form input[type="date"].form-control:invalid {
	color: $gray;
}

.booking-form select.form-control {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}

.booking-form select.form-control+.select-arrow {
	position: absolute;
	right: 0px;
	bottom: 4px;
	width: 32px;
	line-height: 32px;
	height: 32px;
	text-align: center;
	pointer-events: none;
	color: $gray;
	font-size: 14px;
}

.booking-form select.form-control+.select-arrow:after {
	content: '\279C';
	display: block;
	-webkit-transform: rotate(90deg);
	transform: rotate(90deg);
}

.booking-form .form-label {
	display: inline-block;
	color: $primary-color;
	font-weight: 700;
	margin-bottom: 6px;
	margin-left: 7px;
}

.booking-form .submit-btn {
	display: inline-block;
	color: #fff;
	background-color: $primary-color;
	font-weight: 500;
	padding: 12px 20px;
	border-radius: 25px;
	border: none;
	-webkit-transition: 0.2s all;
	transition: 0.2s all;
	text-decoration: none;
}

.booking-form .submit-btn:hover,
.booking-form .submit-btn:focus {
	color: $primary-color;
	background-color: transparent;
	border: 2px solid white;
	transform: scale(1.1) translateZ(0);
}

.col-md-pull-7 {
	transform: translateX(80px);
}

.booking-cta {
	margin-top: 80px;
	margin-bottom: 30px;
	background-color:rgba(black,.4);
	text-align: center;
	border-radius: 5px;
	padding: 10px;
}

.booking-cta h1 {
	font-size: 52px;
	text-transform: uppercase;
	color: #fff;
	font-weight: 700;
}

.booking-cta p {
	font-size: 20px;
	color: $light-gray;
}
