<h1>Workspaces</h1>
<section class="section">
<% @workspaces.each do |workspace| %>
<div class="card-grid">
    <a class="card" href="#">
      <div class="card_background"></div>
      <div class="card_content">
        <p class="card_category"><%= workspace.address %></p>
        <h3 class="card_heading"><%= workspace.name %></h3>
      </div>
    </a>
  </div>
<% end %>
</section>
