<h1><%= @workspace.name %></h1>

<p><strong>address</strong></p>
<p>@workspace.address</p>
<p><i class="fal fa-user-clock"></i> <%= @workspace.capacity %></p>
<p>PRICE</p>
<p><%= @workspace.daily_rate %> / Day</p>