
<div class="section background">
   <div class="section-center">
      <div class="container">
         <div class="row">
            <div class="main_div">
               <div class="booking-cta">
                  <h1>Find your coworking location</h1>
                  <p>  CowontheGo is your new partner to find the suitable workspace for you.</p>
                  <%= link_to 'Get started', workspaces_path, class:"btn btn-main" %>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>
