
<div class="section background">
<div class="section-center">
   <div class="container">
      <div class="row">
         <div class="col-md-7 col-md-push-5">
            <div class="booking-cta">
               <h1>Choose your coworking location</h1>
               <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi facere, soluta magnam consectetur molestias itaque
                  ad sint fugit architecto incidunt iste culpa perspiciatis possimus voluptates aliquid consequuntur cumque quasi.
                  Perspiciatis.
               </p>
            </div>
         </div>
         <div class="col-md-4 col-md-pull-7">
            <div class="booking-form">
               <form>
                  <div class="form-group">
                     <span class="form-label">Your Location</span>
                     <input class="form-control" type="text" placeholder="Enter a localisation">
                  </div>
                  <div class="row">
                     <div class="col-sm-6">
                        <div class="form-group">
                           <span class="form-label">Check In</span>
                           <input class="form-control" type="date" required>
                        </div>
                     </div>
                     <div class="col-sm-6">
                        <div class="form-group">
                           <span class="form-label">Check out</span>
                           <input class="form-control" type="date" required>
                        </div>
                     </div>
                  </div>
                  <div class="row">
                     <div class="col-sm-12">
                        <div class="form-group">
                           <span class="form-label">Persons</span>
                           <select class="form-control">
                              <option>1</option>
                              <option>2</option>
                              <option>3</option>
                              <option>4</option>
                              <option>5</option>
                              <option>6</option>
                              <option>7</option>
                              <option>8</option>
                              <option>9</option>
                              <option>10</option>
                           </select>
                           <span class="select-arrow"></span>
                        </div>
                     </div>
                     <div class="col-sm-12">
                        <%= link_to 'Check availability', workspaces_path, class:"submit-btn" %>
                     </div>
                  </div>
               </form>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>
