<div class="container mg-tp-md">
  <h1 class="mg-tp-md u-center-text mg-bt-sm">Our Team</h1>

    <div class="row u-margin-bottom-sm">
      <div class="col-md mr-3">
        <div class="d-flex align-items-center">
          <img class="avatar-large" alt="avatar-large" src="https://avatars1.githubusercontent.com/u/59468684?s=460&u=6cb043be59da4fa4c66a626e7e4e6404d821c37f&v=4" />
          <div class="pl-5">
            <h4>Simon Busch</h4>
            <hr>
            <p>After 8 years in the export business, travelling the world, Simon wanted to change sector and dive into coding to face new challenge and free his creativity.</p>
            <hr>
              <div class="footer-links">
                <a href="https://github.com/Simon-Busch" target="_blank"><i class="fab fa-github"></i></a>
                <a href="https://www.linkedin.com/in/simonbusch89/" target="_blank"><i class="fab fa-linkedin"></i></a>
              </div>
          </div>
        </div>
      </div>

      <div class="col-md mr-3">
        <div class="d-flex align-items-center">
          <img class="avatar-large" alt="avatar-large" src="https://avatars2.githubusercontent.com/u/72730792?s=460&u=9aeda3ffe37fbf809178c956240333d8d37ca15d&v=4" />
          <div class="pl-5">
            <h4>Tenzin Gasser</h4>
            <hr>
            <p>Freelance en graphisme et webdesign, je suis à recherche d'un renouveau et d'étendre mes notions dans le monde du développement afin d'être plus autonome.</p>
            <hr>
            <div class="footer-links">
              <a href="https://github.com/tenzgass" target="_blank"><i class="fab fa-github"></i></a>
              <a href="https://www.linkedin.com/in/tenzingasser/" target="_blank"><i class="fab fa-linkedin"></i></a>
            </div>          
          </div>
        </div>
      </div>
    </div>

    <div class="row u-margin-bottom-sm">
      <div class="col-md mr-3">
        <div class="d-flex align-items-center">
          <img class="avatar-large" alt="avatar-large" src="https://avatars2.githubusercontent.com/u/66464884?s=460&u=e13b5ce4c4512553ce3f474ac9ce9db44a7a0307&v=4" />
          <div class="pl-5">
            <h4>Benjamin Atieku Dzandu</h4>
            <hr>
            <p>After working in the engineering space for over 8 years, it's time to pivot into web developments. I have a deep passion for coding. My ultimate dream would be to have a startup that impacts the lives of ordinary people.</p>
            <hr>
            <div class="footer-links">
              <a href="https://github.com/KojoSwiss" target="_blank"><i class="fab fa-github"></i></a>
              <a href="https://www.linkedin.com/in/atieku/" target="_blank"><i class="fab fa-linkedin"></i></a>
            </div>  
          </div>
        </div>
      </div>

      <div class="col-md mr-3">
        <div class="d-flex align-items-center">
          <img class="avatar-large" alt="avatar-large" src="https://avatars2.githubusercontent.com/u/67010824?s=460&u=37630e834c389cd219c9e00e5ee8978997a79bd4&v=4" />
          <div class="pl-5">
            <h4>Eric Blandet</h4>
            <hr>
            <p>Hey, I'm Eric, 34 yo, and living in Lausanne! I've tried coding and I enjoy it. I am currenty studying @LeWagon but hope to work soon in a start-up to get some more experience in coding, while being able to ski as much as I can !</p>
            <hr>
            <div class="footer-links">
              <a href="https://github.com/ericblandet" target="_blank"><i class="fab fa-github"></i></a>
              <a href="https://www.linkedin.com/in/eric-blandet/" target="_blank"><i class="fab fa-linkedin"></i></a>
            </div>            
          </div>
        </div>
      </div>
    </div>
</div>