.btn-green {
  padding: 10px 15px;
  color: $green;
}

.btn-home {
  padding: 10px 15px;
  color: white;
  background-color: rgba($primary-color, .9);
  border-radius: 10px;
}

.btn-booking {
  width: 20rem;
  transform: translateX(-30%);
}