.btn-green {
  padding: 10px 15px;
  color: $green;
}

.btn-home {
  margin-top: 2rem;
  margin-left: 2rem;
  padding: 10px 15px;
  color: white;
  background-color: rgba($black, .5);
  border-radius: 10px;
}

