$spacing-s: 8px;
$spacing-m: 16px;
$spacing-l: 24px;
$spacing-xl: 32px;
$spacing-xxl: 64px;
$width-container: 1200px;

h1 {
  color: black;
}
.section-work {
  align-items: center;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  column-gap: $spacing-xl;
  row-gap: $spacing-xl;
  padding: 5px 20px;
}

.card {
  list-style: none;
  position: relative;
  background: transparent;
  border: none;
  max-height: 400px;
  transition: all 1s;
  overflow: hidden;
  border-radius: 10px;

  &:before {
    content: '';
    display: block;
    padding-bottom: 150%;
  }
}

.card_background {
  background-image: url("../../images/workstation.png"); // ! to be proved
  background-size: cover;
  background-position: center;
  border-radius: 10px;
  bottom: 0;
  filter: brightness(0.75) saturate(1.2) contrast(0.85);
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transform-origin: center;
  box-shadow: 2px 2px 2px rgba(black, .4);

}

.card_background_active {
  background-size: cover;
  background-position: center;
  border-radius: 10px;
  bottom: 0;
  filter: brightness(0.75) saturate(1.2) contrast(0.85);
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transform-origin: center;
  box-shadow: 2px 2px 2px rgba(black, .4);
  transform: scale(1.15);
  overflow: hidden;
  transition: all .7s;

  &:hover {
    transform: scale(1.03);
    filter: none;
  }
}

.card_content {
  left: 0;
  padding: 10px;
  position: absolute;
  top: 0;
}

.card_category {
  color: $light-beige;
  font-size: 14px;
  margin-bottom: $spacing-s;
  text-transform: uppercase;
}

.card_heading {
  text-decoration: underline white;
  color: $yellow;
  font-size: 24px;
  text-shadow: 2px 2px 20px rgba(0,0,0,0.6);
  line-height: 1.4;
  padding-bottom:5px;
}

.grid-index {
  padding-top: 3.7rem;
  display: grid;
  grid-template-columns: 2fr 1fr;
  position:relative;
}

.grid-index-left {
  height: 100vh;
}

.form-index {
  width: 100%;
  margin-top:0 auto;
  text-align: center;
  h2 {
    margin-bottom: 10px;
  }
  #query {
    width: 50%;
  }
}

.form-control-index {
  width: 50%;
  margin: 0 auto;
  margin-bottom:10px;
}

.search_input {
  display: grid;
  grid-template-columns: 2fr 100px;
  margin: 0 auto;
  margin-right: 10rem;
  margin-top:1rem;
}