.fa-fire {
  color: $primary-color;
  padding-left: 2rem;
}

.workspace-icon {
  color: $primary-color;
  font-size: 24px;
  padding: 1.4rem;
  width:5rem;
  text-shadow: 2px 2px 2px rgba($black, .5);
}
