.fa-fire {
  color: $primary-color;
}

.workspace-icon{
  color: $primary-color;
  font-size: 24px;
  padding: 1.4rem;
  width:5rem;
}

.icon {
  font-size: 12px;
  color: $primary-color;
  padding-right:5px;
}

.fa-map-pin {
  font-size: 20px;
  color: white;
  padding-right:10px;
}
