.navbar-lewagon {
  justify-content: space-between;
  background: white;
  border-bottom: 1px solid $light-grey-1;
  width:100%;
  height:60px;
  top:0;
  position:fixed;
  z-index:888;
  p {
    padding-top:15px;
    transform: translateX(150px);
  }
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
  opacity: 0.15;
}

.nav-item {
  padding-right:8px;
}

.navbar-collapse {
  text-align: center; 
}
.navbar-presentation {
  color: $primary-color;
  letter-spacing: 3px;
  font-size: 20px;
  font-weight: 100px;
  
}

.navbar-brand {
  padding: 0 10px;
}