.mg-bt-sm {margin-bottom: 2rem;}

.mg-tp-md {margin-top: 4rem;} 
.pd-bt-hg {padding-bottom:8rem;}

//--------------  Centering ----------------
.u-center-text {text-align: center !important;}
.v-centered {display:flex; align-items: center;}
.h-centered {display:flex; justify-content: center;}
.margin-center {margin:0 auto;}



//--------------  Padding ----------------
//padding-top
.pd-v-sm{padding-top:1rem;}
.pd-sm{padding-top:2rem;}
.pd-md{padding-top:6rem;}
.pd-lg {padding-top:10rem;}
.mg-top-huge {margin-top:17rem;}

//padding-bottom
.pd-btm-v-sm {padding-bottom:2rem;}
.pd-btm-sm {padding-bottom:3rem;}
.pd-btm-md {padding-bottom:5rem;}
.pd-btm-lg {padding-bottom:7rem;}

//--------------  MARGIN ----------------
// margin-bottom
.mg-btm-neg-small {margin-bottom:-.5rem;}
.mg-btm-super-sm {margin-bottom: .5rem;}
.mg-btm-v-sm {margin-bottom: 1.5rem;}
.mg-btm-sm {margin-bottom: 3rem;}
.mg-btm-md {margin-bottom: 5rem;}
.mg-btm-lg {margin-bottom: 7rem;}
.mg-btm-hg {margin-bottom: 10rem;}
.u-margin-bottom-lg {margin-bottom: 20rem;}
.u-margin-bottom-md {margin-bottom: 6rem;}
.u-margin-bottom-sm {margin-bottom: 4rem;}
.u-margin-bottom-v-sm {margin-bottom: 2rem;}

//margin-top
.mg-top-sm {margin-top: 3rem;}
.mg-top-md {margin-top: 5rem;}
.mg-top-lg {margin-top: 7rem;}
.mg-top-hg {margin-top: 10rem;}

//margin-right
.mg-right-md{margin-right:4rem;}

// --------------translate--------------

.trslt-lft-sm {transform: translateX(-50px);}
.trslt-right-sm {transform: translateX(100px);}
