// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";

@import "utilities";

*,
*::before,
*::after  {
  padding:0;
  margin:0;
  box-sizing: border-box;
}

body {
  background-image: url("../assets/images/homepage-coworking.jpg");
  background-color: white;
  color: $gray;
  position: relative;
  height:100vh;
  padding-bottom:5rem;
}

::selection {
  color: $primary-color;
  background-color:rgba($black,.3);
}
